<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="60 seconds">

    <!-- 文件日志级别 -->
    <springProperty scope="context" name="fileLevel" source="logback.fileLevel"/>
    <!-- 控制台日志级别 -->
    <springProperty scope="context" name="consoleLevel" source="logback.consoleLevel"/>
    <!-- 日志文件存储位置 -->
    <springProperty scope="context" name="filePath" source="logback.filePath"/>
    <!-- 日志输出格式 -->
    <springProperty scope="context" name="pattern" source="logback.pattern"/>
    <!-- 日志文件保留天数 -->
    <springProperty scope="context" name="maxHistory" source="logback.maxHistory"/>

    <!-- 控制台设置 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- DEBUG -->
    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${filePath}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${filePath}/debug/debug.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>${maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- INFO -->
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${filePath}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${filePath}/info/info.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>${maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- WARN -->
    <appender name="warnAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${filePath}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${filePath}/warn/warn.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>${maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- ERROR -->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${filePath}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${filePath}/error/error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>${maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 文件日志级别 -->
    <logger name="org.anson.mis" level="${fileLevel}" additivity="false">
        <appender-ref ref="debugAppender" />
        <appender-ref ref="infoAppender" />
        <appender-ref ref="warnAppender" />
        <appender-ref ref="errorAppender" />
    </logger>

    <!-- 文件日志级别 -->
    <logger name="org.anson.mis" level="${consoleLevel}" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>

    <root level="error">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>
